@charset "UTF-8";

body
{
	background-color:#d0e4fe;
	
}
h1{
	color:orange;
	text-align:center;
}
img1{
	background-image:url();
	background-repeat:no-repeat;
	width: 100px;
	height:100px;
}